html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --app-height: 100%;
}

html {
  font-size: 7px;
}

@media only screen and (min-width: 350px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1251px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 1750px) {
  html {
    font-size: 14px;
  }
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  body {
    height: var(--app-height);
    overflow: hidden;
  }
}

.xs {
  height: 13.5vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .xs {
    height: auto;
  }
}

.xm {
  height: 20.25vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .xm {
    height: auto;
  }
}

.xl {
  height: 27vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .xl {
    height: auto;
  }
}

.xxl {
  height: 40.5vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .xxl {
    height: auto;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 1.5rem;
  height: auto;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
}

.container .grid-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .container .grid-group {
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

.container .grid-group .first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .first {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
}

.container .grid-group .first .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .first .left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }
}

.container .grid-group .first .left .one {
  background: #007f5f;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.container .grid-group .first .left .two {
  background: #80b918;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .first .left .two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: 1 / 2 / 3 / 2;
  }
}

.container .grid-group .first .left .three {
  background: #2b9348;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.container .grid-group .first .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  row-gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .first .right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
}

.container .grid-group .first .right .one {
  background: #dddf00;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.container .grid-group .first .right .two {
  background: #eeef20;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.container .grid-group .first .right .three {
  background: #ffff3f;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.container .grid-group .second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 1.5rem;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 6 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }
}

.container .grid-group .second .one {
  background: #55a630;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .second .one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/ 1 / 3 / 3;
  }
}

.container .grid-group .second .two {
  background: #aacc00;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .second .two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
}

.container .grid-group .second .three {
  background: #bfd200;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .second .three {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
}

.container .grid-group .second .four {
  background: #d4d700;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .second .four {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 1 / 4 / 3 / 6;
  }
}

.container .grid-group .second .five {
  background: #007f5f;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
}

@media only screen and (min-width: 768px) {
  .container .grid-group .second .five {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-area: 1 / 6 / 3 / 7;
  }
}

.container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0;
  height: 100px;
  width: 100%;
  background: #9bc1bc;
}

.container .text-container .text {
  font-family: 'Circular-Loom';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 20px;
}

@media only screen and (min-width: 1251px) {
  .container .text-container .text {
    font-size: 4rem;
  }
}
